{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}

    <div class="container">
        <img src="https://i.ibb.co/WFP2HM6/icon.png">
    </div>

    <div class="section">
        <h1>{{ first_name }}'s Account</h1>
    </div>

    <div class="section">
        <a href="/update_name" class="text-success">Update Name or Username</a>
    </div>
    <div class="section">
        <a href="/update_password" class="text-success">Update Password</a>
    </div>

{% endblock %}