{% extends "layout.html" %}

{% block title %}
    Confirmed
{% endblock %}

{% block main %}

    <div class="container">
        <img src="/static/favicon.ico">
    </div>

    {% if name %}
        <div class="section">
            <h3>You completed the {{ name }}.</h3>
            <h3>Congrats!</h3>
            <h4>That's {{ number }} of the {{ total_hikes }} Central Oregon hikes!</h4>
        </div>
    {% endif %}

    {% if new_info %}
        <div class="section">
            <h3>Information Updated!</h3>
        </div>
    {% endif %}

{% endblock %}