{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div class="container">
        <img src="https://i.ibb.co/WFP2HM6/icon.png">
    </div>

    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-success" type="submit">Log In</button>
    </form>

        <div class="container mt-3">
            <span>No account?</span>
            <a href="/register" class="text-success">Register</a>
        </div>
{% endblock %}