{% extends "layout.html" %}

{% block title %}
    Update Password
{% endblock %}

{% block main %}

    <div class="container">
        <img src="/static/favicon.ico">
    </div>

    <div class="section">
        <form action="/update_password" method="post">
            <div class="mb-3">
                <span>New Password:</span><input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Update Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirm" name="confirm" placeholder="Confirm Update" type="password">
            </div>
            <button class="btn btn-success" type="submit">Update</button>
        </form>
    </div>

    <div class="container mt-3">
        <span>Want to update username?</span>
        <a href="/update_name" class="text-success">Click here</a>
    </div>

{% endblock %}